*{
    margin:0;
    box-sizing: border-box;
}
.logo {
    background-color: white;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.logo img{
    width:50px;
    height: 50px;
}
header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    padding:20px 0;
}
body{
    background-color: #707070;


}

.search_bar input{
    width:100%;
    padding: 20px;
    border-radius: 40px;
    border:1px solid #707070;
}
.department_card_image img{
    width:250px;
}
.main_container{
    padding:0 15px;
    max-width: 1024px;
    margin:auto;
}
main{
    border:1px solid black;
    background-color: white; 
    padding:15px 0;

}
h1{
    background-color: red;
    color: white;
    padding: 10px;
    width:fit-content;
    /* flex-wrap: wrap; */
    margin: auto;
    border-radius: 40px;
}
marquee{
    background-color: #f3f5c5;
    color: red;
    border:1px solid #707070;
    margin: 20px 0;
    padding:5px 0;
}
.main_section_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 0 20px;
}
.department_title{
    background-color: #3D4F68;
    padding:20px 0;
    text-align: center;
    border-radius: 15px 35px;


}
.department_card_main_section{
    background-color: #EECCCC;
    border-color: #707070;
    margin:10px;
}
.department_card_image img{
    width:100%;
    border-radius: 40px 40px;
    padding:10px;
}