*{
    margin:0;
    box-sizing: border-box;
}
.logo {
    background-color: white;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.logo img{
    width:50px;
    height: 50px;
}
header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    padding:20px 0;
}
body{
    background-image:url(./thisisengineering-raeng-uyfohHiTxho-unsplash-1024x683.png);
    background-size: contain;


}


.search_bar input{
    width:100%;
    padding: 20px;
    border-radius: 40px;
    border:1px solid #707070;
}
.department_card_image img{
    width:250px;
}
.main_container{
    padding:0 15px;
    max-width: 1024px;
    margin:auto;
}
main{
    background-color: white; 
    padding:15px 0;
    border-radius: 50px;
   
}
h1{
    background-color: red;
    color: white;
    padding: 10px;
    width:fit-content;
    /* flex-wrap: wrap; */
    margin: auto;
    border-radius: 40px;
}
marquee{
    background-color: #f3f5c5;
    color: red;
    border-top:1px solid #707070;
    border-bottom:1px solid #707070;
    margin: 20px 0;
    padding:5px 0;
}
.main_section_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 0 10px;
}
.department_title{
    background-color: #3D4F68;
    padding:20px 0;
    text-align: center;
    border-radius: 15px 35px;
    color: white;
    font-size:20px;


}
.department_card_main_section{
    background-color: #EECCCC;
    border-color: #707070;
    margin:10px;
    padding:10px;
}
.department_card_image img{
    width:100%;
    border-radius: 50px;
    border: 1px solid #707070;
}
.department_card_sub_section{
    background-color: white;
    padding:10px;
    margin-top: 10px;
    text-align: center;
}
.enroll_button{
    background-color: #7FB80D;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    border:1px solid #707070;
}
footer{
    margin-top: 10px;
    background-color: #3D4F68;
    text-align: center;
    color: #EECCCC;
    padding: 10px;

}
.footer_link_section{
    font-size: 20px;
    margin-bottom: 10px;
}
@media  screen and (max-width:1000px) {
    .main_section_container{
        grid-template-columns: repeat(2,1fr);

    }
}   
    @media  screen and (max-width:500px) {
        .main_section_container{
            grid-template-columns: repeat(1,1fr);
    
        }
    }